body {
    margin: 0;
    padding-bottom: 60px;
}

.background-sito{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(
            135deg,
            rgba(48, 24, 71, 0.90) 25%,
            rgba(193, 2, 20, 0.80) 75%
    ), url(../img/controllersSfondo.jpg);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    filter: blur(3px);
    transform: scale(1.05);

    z-index: -1;
    pointer-events: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: /*rgba(15, 15, 15, 0.85)*/  rgba(26, 12, 40, 0.85);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul li>a {
    display: block;
    color: #F6E8EA;
    padding: 16px 20px;
    text-decoration: none;
}

li.menu-center a:last-child {
    border-right: none;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.menu-center {
    display: flex;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;

    text-underline-offset: 6px;

    text-decoration-thickness: 2px;
    text-decoration-color: white;

}

.menu-right {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
    top: -10px;
}

.menu-right img {
    display: block;
}

.menu-left {
    position: absolute;
    left: 20px;
    display: flex;
    margin-top: 10px;

}
.menu-left img {
    display: block;
}

.burger {   /*all'inizio il borgar non è possibile visualizzarlo, perché viene visto solo nel caso in cui lo vediamo tramite telefono*/
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: /*rgba(15, 15, 15, 0.85)*/ rgba(26, 12, 40, 0.85);
    backdrop-filter: blur(10px);
    color: white;
}

.carrello-container{
    display: flex;
    flex-direction: column;

    margin: 80px;
    margin-top: 120px; /* spazio dalla navbar */

    padding: 20px;
    border-radius: 15px;

    color: white;
    font-family: "Roboto", sans-serif;

    background-color: rgba(26, 12, 40, 0.85);
    backdrop-filter: blur(10px);

    filter: drop-shadow(0px 0px 8px black);
}

.carrello-container h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
}

.container-prodotti ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-prodotti li{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;
    padding: 15px 20px;

    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 10px;

    color: #F6E8EA;
}

.nome-prodotto{
    font-size: 17px;
    font-weight: 500;
}

.prezzi{
    display: flex;
    align-items: center;
    gap: 12px;
}

.prezzo-originale{
    color: #b0b0b0;
    text-decoration: line-through;
    font-size: 15px;
}

.prezzo-scontato{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.sconto{
    background-color: #7c3aed;
    color: white;

    padding: 4px 8px;
    border-radius: 15px;

    font-size: 13px;
    font-weight: bold;
}

.container-prodotti li:last-child{
    margin-bottom: 0;
}

.container-prodotti li:hover{
    background-color: rgba(255,255,255,0.08);
    border-color: #7c3aed;
    transform: translateY(-2px);
}

.carrello-vuoto{
    width: 100%;
    padding: 50px 20px;

    text-align: center;

    color: #F6E8EA;
    font-size: 22px;
    font-style: italic;
}
.carrello-vuoto{
    text-align: center;
    padding: 50px 20px;

    color: white;
    font-size: 22px;
    font-style: italic;
}

.totale-carrello{
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 22px;

    background: rgba(124, 58, 237, 0.25);
    border: 2px solid #7c3aed;
    border-radius: 16px;

    backdrop-filter: blur(10px);

    width: 100%;
    box-sizing: border-box;
}

.totale-testo{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.btn-acquisto{
    background-color: #7c3aed;
    border: none;
    padding: 10px 18px;

    color: white;
    font-size: 15px;
    font-weight: bold;

    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease;
    white-space: nowrap;
}

.btn-acquisto:hover{
    background-color: #6d28d9;
    transform: scale(1.05);
}

/* Parte responsive */
/* Questo si attiva tipo quando la view port è 1024, o quando è meno*/
@media (max-width: 1024px) {
    .menu-center {  /*il font-size è cambiato a 14 px per migliore visualizzazione*/
        font-size: 14px;
    }

    .menu-right {   /*right passato da 20 a 10 px e gap da 10 a 6 px. Con right è diminuito il lato destro dell'elemento rispetto al lato destro del contenitore
    (cioè si ancora a destra del contenitore) e i gap tra gli elementi è diminuita.*/
        right: 10px;
        gap: 6px;
    }

    .menu-left {    /*left passato da 20 px a 10 px, quindi in questo caso è diminuito il lato sinistro dell'elemento rispetto al lato sinistro del contenitore
    (si ancora a sinistra)*/
        left: 10px;
    }

}

/* Questo si attiva tipo quando la view port è 768, o quando è meno*/
@media (max-width: 768px) {
    ul {    /*Qui modifichiamo la disposizione della navbar, con flex-direction: column disponiamo i vari <li> in colonna, con align-items settato a strech li allunga e abbiamo aggiunto il padding dal top e rimasto a 0 per gli altri*/
        flex-direction: column;
        align-items: stretch;
        padding: 10px 0;
    }

    .menu-left,
    .menu-right {   /* tornano nel flusso normale della pagina con position: static e gli elementi interni sono centrati e il margin è impostato a 5px per il top e il bottom e 0 dalle altre parti.*/
        position: static;
        justify-content: center;
        margin: 5px 0;
    }

    .burger {   /*mostro il burger sulla navbar, e lo posiziono a destra rispetto al conteiner sul lato destro,posiziono a 10 px da bordo superiore e lo metto sopra gli altri elementi con proprietà alta*/
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 1100;
    }

    #mobile-menu {  /*non mostra i link della navbar, questo ci servirà dopo per la navbar e èer farli visualizzare quando seleziono il burger*/
        display: none;
    }

    .menu-center {  /*i conenuti interni a menu-center sono stati centrati, è stato attivato il flex-wrap con wrap in modo che va in basso quando copre tutta la pagina
    il gap è stato aggiunto tra gli elementi, inoltre font-size è stato aumentato a 13 px e il testo allineato al centro. Inoltre il flex direction permette di visualizzare i link in colonna.*/
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-size: 12px;
    }

    ul li > a { /*il padding sarà pari a 10 per top e bottom e 12 px per left e right*/
        padding: 10px 12px;
    }

    .background-sito {  /*viene applicata un altro poco di sfumatura alla sfondo e inoltre viene ingrandito di poco lo sfondo*/
        filter: blur(1.5px);
        transform: scale(1.02);
    }

    .carrello-container{
        /* Il contenitore del carrello viene ridimensionato al 90% della larghezza, centrato nella pagina e adattato ai dispositivi mobili.
        Per farlo usiamo margin:180px auto 30px (top, right/left, bottom) con padding a 15 px e box-sizing a border box (adatta la larghezza, mediante calcolo automatico a 100%) */
        width: 90%;
        margin: 180px auto 30px;
        padding: 15px;
        box-sizing: border-box;
    }

    .container-prodotti li{
        /* Ogni prodotto viene disposto in verticale invece che in orizzontale, migliorando la leggibilità sugli schermi piccoli.
        Usiamo flex-direction: column e align-items al flex-start e poi aggiungiamo un gap a 12 px e padding a 15 px*/
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 15px;
    }

    .prezzi{
        /* Prezzo originale, scontato e sconto vengono distribuiti in modo flessibile, e possono andare a capo se lo spazio non è sufficiente.
         Abbiamo usato width 100% per adattarli a tutta la larghezza, justify-content con space-between per far distribuire con spazio tra gli elementi
         flex-wrap settato a wrap serve per far andare a capo se lo spazio non è sufficiente, inoltre è stato aggiunto un gap di 8 px*/
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;
    }

    .nome-prodotto{
        /* Riduce leggermente la dimensione del testo e permette ai nomi lunghi, di andare a capo senza uscire dal contenitore.
         Usiamo font-size a 16 px e word-break settato a break-word (serve per far andare a capo il testo senza uscire dal contenitore)*/
        font-size: 16px;
        word-break: break-word;
    }

    .totale-carrello{
        /* La sezione del totale passa da orizzontale a verticale, con gli elementi centrati per una migliore visualizzazione.
        Usato flex-direction a column e gap a 15 px e text-align a center*/
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .btn-acquisto{
        /* Il pulsante occupa tutta la larghezza del contenitore, risultando più comodo da premere su smartphone.
        Usato width a 100%.*/
        width: 100%;
    }

    .totale-testo{
        /* Riduce leggermente la dimensione del testo del totale (usato font-size pari a 18 px) per adattarsi meglio agli schermi piccoli. */
        font-size: 18px;
    }
}