body {
    background-color: #f6e8ea;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8B0000;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul li>a {
    display: block;
    color: #F6E8EA;
    padding: 16px 20px;
    /* margin : 0 auto; */
}

li.menu-center a{
    border-right: 1px solid #F6E8EA;
}
li.menu-center a:last-child {
    border-right: none;
}


.menu-center {
    display: flex;
}

.menu-right {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}

.menu-right img {
    display: block;
}

.menu-left {
    position: absolute;
    left: 20px;
    display: flex;

}
.menu-left img {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #8B0000;
    color: white;
}

.container-prodotti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotto{
    background-color: #BE0000;
    text-align: center;
    width: 350px;
    margin: 35px;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.prodotto img {
    width: 350px;
    height: 175px;
}
/*ul li.logo-first{
    margin-right: auto;
}

ul li.icon-first {
    margin-left: auto;
}
*/
