body {
    margin: 0;
    padding-bottom: 60px;
}

.background-sito {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(
            135deg,
            rgba(48, 24, 71, 0.90) 25%,
            rgba(193, 2, 20, 0.80) 75%
    ), url(../img/controllersSfondo.jpg);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    filter: blur(3px);
    transform: scale(1.05);

    z-index: -1;
    pointer-events: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul li>a {
    display: block;
    color: #F6E8EA;
    padding: 16px 20px;
    text-decoration: none;
}

li.menu-center a{
    border-right: 1px solid #F6E8EA;
}
li.menu-center a:last-child {
    border-right: none;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#logo-img {
    display: block;
    max-width: 65%;
    height: auto;          
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 0px 8px black);
}

.container-bottoneCerca form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    margin-top: -195px;
    padding: 0;
}

input[type=search]{
    flex: 4;
    background-color: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(10px);
    margin: 0;
    border: none;
    height: 30px;
    color: white;

    border-radius: 15px 0 0 15px;
    padding: 0 15px;
}

input[type=submit]{
    flex: 1;
    background-color: #F6E8EA;
    height: 30px;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
}

.menu-center {
    display: flex;
}

.menu-right {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}

.menu-right img {
    display: block;
}

.menu-left {
    position: absolute;
    left: 20px;
    display: flex;

}
.menu-left img {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(10px);
    color: white;
}

.container-prodotti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotto{
    background-color: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 350px;
    margin: 35px;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.prodotto img {
    width: 350px;
    height: 175px;
}

img sfondoBackground.jpg {
    filter: blur(8px);
}
/*ul li.logo-first{
    margin-right: auto;
}

ul li.icon-first {
    margin-left: auto;
}
*/
